@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
	font-family: 'Raleway', sans-serif;
	margin:0;
	background: #eee;
	height:auto;
}

h1{
	font-weight:400;
	font-size:2.5rem;
	text-transform: uppercase;
	margin:0;
}

h2{
	font-weight:400;
	font-size:1.2rem;
	text-transform: capitalize;
	margin:0;
}

img{
	display: block;
	width:100%;
	height: 100%;
}

main{
	max-width:900px;
	box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
	/* horizontal offset vertical offset blur color
	color is rgba value, where a stands for alpha i.e. opacity or transparency*/
		-30px 0px 40px rgba(0, 0, 0, 0.1);
	/* then the above one is for bottom*/
	margin: auto;

}

#landing{
	background: #fff;
}

#landing-text{
	display: flex;
	flex: 0 1 40vw;
	/* flex property: flex grow flex shrink and viewport widths*/
	height:50vh;
	/*viewport heights*/
	justify-content: center;
	/*USE JUSTIFY BECAUSE WE USED FLEX: aligns horizontally to center*/
	align-items: center;
	/*aligns vertically to center*/
	text-align: center;
	/*aligns actual text to center*/
	padding-right: 1rem;
	padding-left: 1rem;
}

#landing-text h2{
	color: #888;
}


#landing-image {
  background: url("../trend/photowebsite/img1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn{
	padding: 0.5rem 2rem;
	border: 1px #ccc solid;
	display:inline-block;
	margin: 2rem 0 0; /*margin to top*/
	border-radius: 50px;
	/*rounds the borders*/
	text-decoration: none;
	color: #333;

	transition:background 500ms ease;
	/*transition effect of fade in to the background
	i.e the view work button will have suttle grey tone to it when you hover over it*/
}

.btn:hover{
	background: #f4f4f4;
}

#header{
	padding: 1.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#header h2{
	border-left: dotted 1px #fff;
	border-right: dotted 1px #fff;
	display: inline-block;
	padding-right: 1rem;
	padding-left: 1rem;
}

.caption{
	padding:0.8rem;
	text-align: center;
}

footer{
	text-align: center;
	padding: 2rem 1rem;
	/*2 rem top and bottom
	  1 rem left and right*/
	margin: auto;
	color: #333;
}

footer h3{
	font-size: 3rem;
	margin-bottom: 0;
}

/*SCREEN SIZES 500PX AND UP*/

@media(min-width: 500px)
/*Since this is mobile first we will use min width
  this will get active only if the width increases more than 500px*/
{
	#landing{
		display: flex;
		height: 100%;
	}

	#landing-text{
		height:100vh;
	}

	#landing-image{
		height:100vh;
	}
}


/*SCREEN SIZES 700PX AND UP*/
@media(min-width: 700px)
{
	.btn{
		padding: 1rem 3rem;
	}
}

